# JTFRAME / build artefacts
/release/
/rom/
/jtbin/
/modules/jtframe/
# jtframe mem generated outputs (do not commit)
cores/*/mist/
cores/*/mister/
cores/*/sidi/
cores/*/sidi128/
cores/*/pocket/
*.rbf
*.rom
*.sof
*.pof
*.qsf
*.qpf
db/
incremental_db/
output_files/
simulation/
*.vcd
*.fst
*.wlf
# ROMs are never committed
*.zip
*.7z
# macOS
.DS_Store
